<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="presentation/fragments/fragments :: head">
    <link rel="stylesheet" href="../../../static/css/autentificacion.css">
    <link rel="stylesheet" href="../../../static/css/global.css">
    <title>Confirmar Cita</title>
</head>
<body>
<header th:replace="presentation/fragments/fragments :: header"></header>

<!-- Contenedor principal -->
<div class="container">
    <!-- Sección de perfil (tarjeta de confirmación) -->
    <div class="profile-container">
        <div class="profile-card">
            <div class="profile-image-container">
                <!-- Imagen del doctor -->
                <img th:src="@{${medico.usuario.getFoto()}}" alt="Doctor" class="doctor-avatar">
            </div>
            <!-- Datos del doctor -->
            <h2 class="title" th:text="${medico.usuario.getNombre()}">Nombre del Doctor</h2>
            <p class="doctor-specialty" th:text="${medico.especialidad}">Especialidad</p>
            <p class="appointment-date" th:text="${#temporals.format(cita.fecha, 'dd MMM yyyy - HH:mm')}">Fecha y hora</p>
            <p class="medical-center" th:text="${medico.hospital + ' @ ' + medico.ciudad}">Centro médico</p>
            <p class="appointment-cost" th:text="${medico.costoConsulta}">Costo de consulta</p>

            <div class="action-buttons" style="display: flex; justify-content: space-around; margin-top: 20px;">
                <form th:action="@{/presentation/citas/confirm}" method="post">
                    <input type="hidden" name="fechaCita" th:value="${cita.fecha}">
                    <input type="hidden" name="medicoId" th:value="${medico.id}">
                    <button type="submit" class="btn-confirm">Confirmar Cita</button>
                </form>
                <a th:href="@{/presentation/medicos/list}" class="btn-cancel">Cancelar</a>
            </div>

        </div>
    </div>
</div>

<footer th:replace="presentation/fragments/fragments :: footer"></footer>
</body>
</html>
