<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Exitoso</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/base-header-footer.css">
    <link rel="stylesheet" href="/css/style_login.css">
</head>
<body>
<header>
    <div class="logo">
        <img src="/images/doctor_appointment_login.jpg" alt="Medical Appointments Logo">
        <div class="logo-text">Medical Appointments</div>
    </div>
    <div class="phone">
        <i class="fa-solid fa-phone"></i>+506 5467 0937
    </div>
    <div class="nav-menu">
        <a href="#" class="nav-link">About...</a>
        <a href="#" class="nav-link">Search</a>
        <a href="#" class="nav-link">Login</a>
    </div>
</header>
<main>
    <div class="login-container">
        <div class="login-header">
            <h2>Login Exitoso</h2>
        </div>
        <div class="login-body">
            <p style="margin-bottom: 20px;">¡Has iniciado sesión exitosamente!</p>
            <div> <a href="/presentation/login/show" class="login-button">Volver a la página de login</a></div>
        </div>
    </div>
</main>

<footer>
    <div class="company-name">Total Soft Inc.</div>
    <div class="social-icons">
        <div class="social-icon"><i class="fa-brands fa-twitter"></i></div>
        <div class="social-icon"><i class="fa-brands fa-facebook-f"></i></div>
        <div class="social-icon"><i class="fa-brands fa-instagram"></i></div>
    </div>
    <div class="copyright">©2019 Tsf, Inc.</div>
</footer>
</body>
</html>