<!DOCTYPE html>
<html lang="es">
<head th:replace="presentation/fragments/fragments :: head"></head>
<body>
<header th:replace="~{presentation/fragments/fragments :: header}"></header>

<main>
    <div class="login-container">
        <div class="login-header">
            <h2>Login</h2>
        </div>

        <div th:if="${successMessage}" class="success-message">
            <p th:text="${successMessage}"></p>
        </div>
        <div th:if="${errorMessage}" class="error-message">
            <p th:text="${errorMessage}">Perfil no existente</p>
        </div>
        <div class="login-body">
            <div class="avatar">
                <img src="/images/user_login.png" alt="User Avatar">
            </div>
            <form action="/login" method="post">
                <div class="input-group">
                    <div class="input-field">
                        <div class="input-icon">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <input type="text" class="input-box" name="username" placeholder="User id" required>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-field">
                        <div class="input-icon">
                            <i class="fa-solid fa-key"></i>
                        </div>
                        <input type="password" class="input-box" name="password" placeholder="User Password" required>
                    </div>
                </div>
                <button type="submit" class="login-button">Log in</button>
            </form>
        </div>

        <div class="login-footer">
            <div>Don't have an account?</div>
            <a href="/presentation/register/show" class="register-link">Register here</a>
        </div>
    </div>
</main>

<footer th:replace="~{presentation/fragments/fragments :: footer}"></footer>
</body>
</html>