<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Appointments</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/autentificacion.css">
</head>

<header th:fragment="header">
    <div class="logo">
        <img src="/images/doctor_appointment_login.jpg" alt="Medical Appointments Logo">
        <div class="logo-text">Medical Appointments</div>
    </div>
    <div class="phone">
        <i class="fa-solid fa-phone"></i>+506 5467 0937
    </div>
    <div class="nav-menu">

        <a href="/presentation/about/show" class="nav-link">About</a>


        <th:block sec:authorize="!isAuthenticated()">
            <a href="/presentation/medicos/list" class="nav-link">Search</a>
            <a href="/presentation/login/show" class="nav-link">Login</a>
        </th:block>


        <th:block sec:authorize="isAuthenticated()" th:if="${session.usuarioRol == 'PACIENTE'}">
            <a href="/presentation/historial/show" class="nav-link">History</a>
            <a href="/presentation/medicos/list" class="nav-link">Search</a>

            <div class="user-menu">
                <button class="dropdown-toggle">
                    <span th:text="${session.usuarioId}">BBanner</span> <i class="fa-solid fa-angle-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/presentation/profile/paciente" class="nav-link">Profile</a>
                    <a href="/presentation/logout">Logout</a>
                </div>
            </div>
        </th:block>


        <th:block sec:authorize="isAuthenticated()" th:if="${session.usuarioRol == 'MEDICO'}">
            <a th:href="@{/presentation/pacientes/show}" class="nav-link">Appointments</a>

            <div class="user-menu">
                <button class="dropdown-toggle">
                    <span th:text="${session.usuarioId}">BBanner</span> <i class="fa-solid fa-angle-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/presentation/logout">Logout</a>
                    <a href="/presentation/profile/medico" class="nav-link">Profile</a>
                </div>
            </div>
        </th:block>
        <th:block th:if="${session.usuarioId != null && session.usuarioRol == 'ADMIN'}">

            <div class="user-menu">
                <button class="dropdown-toggle">
                    <span th:text="${session.usuarioId}">BBanner</span> <i class="fa-solid fa-angle-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/presentation/logout">Logout</a>
                </div>
            </div>
        </th:block>
    </div>
</header>

<footer th:fragment="footer">
    <div class="company-name">Total Soft Inc.</div>
    <div class="social-icons">
        <div class="social-icon"><i class="fa-brands fa-twitter"></i></div>
        <div class="social-icon"><i class="fa-brands fa-facebook-f"></i></div>
        <div class="social-icon"><i class="fa-brands fa-instagram"></i></div>
    </div>
    <div class="copyright">©2019 Tsf, Inc.</div>
</footer>