header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    min-height: 120px;
    background-color: #e6f3f8;
    position: relative; /* Asegura que los elementos se posicionen correctamente */
}

.logo {
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 50px;
}

.logo img {
    width: 180px;
    height: auto;
    border-radius: 90%;
}

.logo-text {
    margin-left: 10px;
    color: #4cc3d9;
    font-size: 22px;
    font-style: italic;
}

/* Se centra el teléfono absoluta y completamente */
.phone {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #888;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
}

.phone i {
    color: #f0ad4e;
    margin-right: 5px;
}

.nav-menu {
    display: flex;
    gap: 20px;
    flex: 1;
    justify-content: flex-end;
    margin-right: 50px;
}

.nav-link {
    color: #888;
    text-decoration: none;
}
